* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}
body {
  background-color:#FFF;
}
header {
  display:flex;
  flex-direction:column;
  height:100vh;
  align-items:center;
  justify-content:space-around;
  margin-top:50px;
}
.header-title {
  text-align:center;
  font-size:32px;
}
.quote::after{
  content:'"';
  color:#00ff47;
}
.quote::before{
  content:'"';
  color:#00ff47;
}
.green {
  display:inline;
  color:#00ff47;
}
#line1 {
  animation: lightUp 5s ease 0.7s forwards infinite;
}
#line2 {
  animation: lightUp 5s ease 1.4s forwards infinite;
}
#line3 {
  animation: lightUp 5s ease 2.1s forwards infinite;
}
#User {
  animation: lightUp 5s ease 2.8s forwards infinite;
}

@keyframes lightUp {
  10% {
    fill: #00ff47;
  }
  50% {
    fill: #00ff47;
  }
  60% {
    fill:#3F3D56;
  }
  100% {
    fill:#3F3D56;
  }
}

