* {
    margin:0;
    padding:0;
}
#important {
    background-color:red;
}
h1 {
    font-size:20px;
    color:blue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    font-style:italic;
    text-align:center;
}
h1:hover {
    color:coral;
}

.square1 {
    /*talk about width height, do percentages and vw vh*/
    width:200px;
    height:200px;
    /*Focus on this static,relative,absolute,fixed,sticky */
    position:static;
    background-color:red;
    left:1000px;
    top:0px;
}
body {
    height:200vh;
}
.block {
    display:block;
    height:200px;
}
.inline {
    display:inline;
    height:200px;
}
.parent {
    width:500px;
    height:500px;
    margin:200px;
    background-color:coral;
}
.square2 {
    width:100%;
    height:100%;
    padding:100px;
    border:20px green solid;
    background-color:cyan;
    opacity:0.5;
    /*add in after talking about padding, add to css reset*/
    box-sizing:border-box;
}