.parent {
    width:500px;
    height:500px;
    position:absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    background-color:red;
    /*add after making rainbow*/
    animation:rainbow 5s infinite linear 5s forwards
}
.parent div {
    width:100px;
    height:100px;
    background-color:aqua;
    /*Name, duration,repeats, timing function, delay, fill mode*/
    /*try negative delay*/
    animation:move 3s infinite ease 2s forwards;

}
@keyframes move{
    to {
        transform:translate(400px, 400px);
    }
    30% {
        transform:translate(200px,300px);
    }
    60% {
        transform:translate(350px,50px) rotate(180deg);
        
    }
    100% {
        transform:translate(0px,0px);
    }
}
@keyframes rainbow{
    10% {
        background-color:red;
    }
    25% {
        background-color:orange;
    }
    40% {
        background-color:yellow;
    }
    55% {
        background-color:green;
    }
    70% {
        background-color:blue;
    }
    85% {
        background-color:purple;
    }
    100% {
        background-color:red;
    }
}
.flexContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:100vh;
}
/*add classes to svg*/
.dot {
    fill:rgb(61, 134, 230);
    /*Stroke is exterior, width is width, dasharray is dashes with space */
    stroke:rgb(48, 183, 236);
    stroke-width:5px;
    stroke-dasharray:200px;
    animation: dotStroke infinite 3s ease;
}
.tail {
    fill:rgb(61, 134, 230);
    stroke:rgb(48, 183, 236);
    stroke-width:5px;
    /*whate we rotate around*/
    transform-origin: 600px 250px;
    animation: tailMove infinite 3s ease;
    transform:rotateZ(-10deg) translate(-134px, -189px);
}

@keyframes dotStroke {
    from {
        stroke-dasharray:0px;
        stroke-width:2px;
    }
    50% {
        stroke-dasharray:200px;
        stroke-width:8px;
    }
    to {
        stroke-dasharray:0px;
    }
}
@keyframes tailMove {

    50% {
        transform:rotateZ(10deg) translate(-134px, -189px);
    }
    to {
        /*translate comes from the svg itself must be preserved*/
        transform:rotateZ(-10deg) translate(-134px, -189px);
    }
}