* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --bg-color: brown;
}
body {
  /*show this is unnecessary at the end*/
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: var(--bg-color);
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
}
header h1 {
  font-size: 64px;
}
nav ul li {
  margin: 25px;
  font-size: 32px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin: 25px;
  min-height: calc(100vh - 136px - 90px);
}

.bear {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px;
  background-color: var(--bg-color);
  border-radius: 10px;
  color: white;

  justify-content: space-evenly;
  height: 600px;
}
.bear img {
  width: 100%;
}
.bear p {
  margin: 16px;
}
footer {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 40px;
}
